/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */    
    --color-main-dark: #3B3B53;
    --color-main-light: #43425D;
    --color-main-lighter: #F0F0F7;
    --color-light: #FFFFFF;
    --color-main-hover:#A3A0FB;
    --color-nav-icon: #A5A4BF;

    /* Shadows */
    --shadow: 0 0 10px 0 #CACED5(0, 0, 0, 0.2);

    /* border radius */

    /* whitespace */
    --global-baseline:5px;
    --global-whitessapce-xxs:var(--global-baseline);  /* 5px */
    --global-whitessapce-xs:calc(var(--global-baseline) * 2);  /* 10px */
    --global-whitessapce-sm:calc(var(--global-baseline) * 3);  /* 15px */
    --global-whitessapce-md:calc(var(--global-baseline) * 4);  /* 20px */
    --global-whitessapce-lg:calc(var(--global-baseline) * 5);  /* 25px */
    --global-whitessapce-xl:calc(var(--global-baseline) * 6);  /* 30px */
    --global-whitessapce-xxl:calc(var(--global-baseline) * 7);  /* 35px */
  

    /* transitions */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Source Sans Pro",sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-main-lighter);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
    background: mediumslateblue;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: calc(var(--global-baseline) * 10);
    margin: 0 0 var(--global-whitessapce-md);
}

h2 {
    font-size: 32px;
    font-weight: normal;
    line-height:calc(var(--global-baseline) * 8);
    margin: 0 0 var(--global-whitessapce-lg);
}

h3 {
    font-size: 26px;
    line-height: calc(var(--global-baseline)*6);
    margin: 0 0 var(--global-whitessapce-md);
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: calc(var(--global-baseline)*6);
    margin: 0 0 var(--global-whitessapce-md);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitessapce-md);
}

ul,
ol {
    padding-left: var(--global-whitessapce-md);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 var(--global-whitessapce-md);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 var(--global-whitessapce-md);
}

a {
    transition: all .1s;
    color: mediumslateblue;
    outline-color: mediumslateblue;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: mediumslateblue;
}

a:hover,
a:focus {
    color: slateblue;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo

*/
.c-main-nav{
    /* margin-bottom: var(--global-baseline); */
    width: 100%;
}
.c-main-nav ul,li,a{
    text-decoration: none;
    list-style-type: none;
    color: var(--color-light) !important;
    padding: 0;
}

.c-main-nav li{
    padding: calc(var(--global-baseline)*2);
    margin-top: var(--global-baseline);
    padding: var(--global-whitessapce-md);
    transition:all 1s ease-in, .2s ease-in;
    
}
.c-main-nav__list:hover{
    background-color: var(--color-main-dark);
    border-left: 5px solid var(--color-main-hover);
    /* 1s
    .2s */


}
.c-main-nav__list--active{
    background-color: var(--color-main-dark);
    border-left: 5px solid var(--color-main-hover);
    /* 1s
    .2s */


}
.c-main-nav__icon{
    fill:var(--color-nav-icon);
    width: 16px;
    height: 16px;
}
.c-main-nav__link{
    display: flex;
    align-items: center;
    gap: calc(var(--global-baseline)*2);
}
   




.c-main-nav__item{
    /* var(--global-baseline) 0; */
}

.c-app{
    /* Pas CSS-grid toe op c-app vanaf een gepast breakpoint */
    min-height: 100vh;
    display: grid;
    /* Zorg er voor dat het logo en de sidebar een breedte hebben van 260px
    Zorg er voor dat de sidebar en main de resterende hoogte innemen. */
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr;
    /* grid-template-columns: "logo" "top";
    grid-template-rows: "sidebar" "main"
    "main"; */
    /* grid-template-areas:
        "logo top"
        "sidebar main"; (alternatief)*/
}
.c-app__logo{
    background-color: var(--color-main-dark);
    padding:var(--global-whitessapce-lg);
    
}
.c-app__logo h1{
    background-color: var(--color-main-dark);
    color: var(--color-light);
    font-size: 15px;
    line-height: 21px;
    /* padding:var(--global-whitessapce-md) 0 0 var(--global-whitessapce-md);
     */
    margin: 0 0 0 var(--global-whitessapce);
   

   
}
.c-app__topbar{
    background-color: var(--color-light);

}
.c-app__sidebar{
    background-color: var(--color-main-light);
}
.c-app__main{
   
}
/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: darkgray;
}

.u-color-neutral-dark {
    color: grat;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
